body{
	font-family: 'Raleway', sans-serif;
	padding: 0px;
	margin: 0px;
}

header{
	margin: 10px;
}
/*
main{
	width: 80%;
	max-width: 800px;
	height: 400px;
	margin: 0px auto;
	padding-top: 0px;
	border: solid;
	border-color: red;
}
*/
.nav{
	padding: 5px 5px;
	margin: 2px 5px;
	font : 15px;
  	color : #000000;
  	color : rgb(0, 0, 0);
  	opacity : 0.5;
  	filter: alpha(opacity=50) ;
}

/*
.box4{
  	position : absolute;
  	left : 338px;
  	top : 250px;
  	width : 324px;
  	height : 126px;
}*/


.box4{
	position : absolute;
  	left : 33%;
  	top : 25%;
}

.box4:hover{
	opacity : 0.5;
}

.line4{
  	position : absolute;
  	left : 21%;
  	top : 32%;
  	filter: alpha(opacity=50) ;
}

.project-item4{
	font-size : 12px;
 	color : #000000;
  	color : rgb(0, 0, 0);
  	opacity : 0.5;
  	position : absolute;
  	left : 18%;
  	top : 32%;
  	width : 98px;
  	height : 0px;
  	filter: alpha(opacity=50);
}

/*
.box2{
  	position : absolute;
  	left : 338px;
  	top : 313px;
  	width : 324px;
  	height : 126px;
  	filter: alpha(opacity=50) ;
}*/

.box2{
	position : absolute;
  	left : 33%;
  	top : 31%;
}

.box2:hover{
	opacity : 0.5;
}

.line2{
  	position : absolute;
  	left : 63%;
  	top : 40%;
  	filter: alpha(opacity=50) ;
}

.project-item2{
	font-size : 12px;
 	color : #000000;
  	color : rgb(0, 0, 0);
  	opacity : 0.5;
  	position : absolute;
  	left : 72%;
  	top : 40%;
  	filter: alpha(opacity=50) ;
  }

.box3{
  	position : absolute;
  	left : 33%;
  	top : 37%;
  	width : 324px;
  	height : 126px;
  	filter: alpha(opacity=50) ;
}

.box3:hover{
	opacity : 0.5;
}

.line3{
  	position : absolute;
  	left : 21%;
  	top : 44%;
  	width : 98px;
  	height : 0px;
  	filter: alpha(opacity=50) ;
}

.project-item3{
	font-size : 12px;
 	color : #000000;
  	color : rgb(0, 0, 0);
  	opacity : 0.5;
  	position : absolute;
  	left : 18%;
  	top : 44%;
  	filter: alpha(opacity=50) ;
  }

.box1{
  	position : absolute ;
  	left : 33%;
  	top : 43%;
  	width : 324px;
  	height : 126px;
  	filter: alpha(opacity=50) ;
}

.box1:hover{
	opacity : 0.5;
}

.line1{
  	position : absolute;
  	left : 63%;
  	top : 52%;
  	width : 98px;
  	height : 0px;
  	filter: alpha(opacity=50) ;
}

.project-item1{
	font-size : 12px;
 	color : #000000;
  	color : rgb(0, 0, 0);
  	opacity : 0.5;
  	position : absolute;
  	left : 72%;
  	top : 52%;
  	width : 98px;
  	height : 0px;
  	filter: alpha(opacity=50) ;
  }


/*
@media (max-width: 460px) {
	main {
		width: 100%;
		margin: 0;
	}
}
